#호환을 위해 3.9로 사용할 예정이다

python install

1. python 홈페이지에서 installer를 3.9버전으로 설치한다
2. cmd(명령프롬포트)창을 연다.
# 이렇게 하면 3.9 기준으로 패키지 설치 
# py -3.9 -m pip list 하면 확인 가능

3. py -3.9 -m venv env3.9 # (python3.9 -m venv env39) # Python 3.9을 기반으로 가상환경 생성
4. (env3.9) pip install matplotlib==3.2.2
5. (env3.9) pip install pyspark 
6. (env3.9) pip install jupyter # jupyter만 설치해도 ipkernel도 설치
7. (env3.9) python -m ipykernel install --user --name python39 --display-name "Python 3.9"
8. (env3.9) jupyter kernelspec list
9. (env3.9) start jupyter notebook
10. (env_name) $ python --version

이후 실행시 이렇게 하면 된다.

1. env3.9\Scripts\activate
2. (env3.9) start jupyter notebook

jupyter setting

import sys
for i in sys.path:
    print(i)

import site
print(site.getsitepackages())

1. 왕기초

In [2]:
w=3
h=2
area=w*h
print("면적: ",area)

면적:  6

In [3]:
area="hello"
type(area)

str

2. 연산자

In [4]:
import math
print(math.log(2))
print(math.pi)

0.6931471805599453
3.141592653589793

In [5]:
#string에 연산자 적용

# operator overloading
a="hello"
print(a+a)
print(2*a)

hellohello
hellohello

In [6]:
#기본 연산자 함수

import operator
print(operator.add(1, 2))  # 3
print(operator.sub(5, 3))  # 2
print(operator.mul(5, 3))  # 15
print(operator.truediv(6, 4))  # 1.5

3
2
15
1.5

In [7]:
import operator
p=1
for i in range(1,4):
    p=operator.mul(p,i)
    print(p) # 1*1 = 1
             # 1*2 = 2
             # 2*3 = 6    #파이썬에서 range(시작,끝)을 하면 끝 직전까지만 돌아간다.

print(p)

1
2
6
6

3. 논리

In [8]:
# boolean
print(3>4)

False

4. 숫자

In [9]:
print(2**10)
print(3/2)
print(3/2.)    #정수 3과 소수 2.의 혼합된 데이터타입이라 결과가 큰 쪽인 소수로 산출

1024
1.5
1.5

5. 반복

In [10]:
for i in range(5):
  print(2 * i + 1)

1
3
5
7
9

In [11]:
for i in range(0,10,2):
  print(2 * i + 1)
    #시작 끝(보다 하나 앞에서 끝남) 간격

1
5
9
13
17

In [12]:
total = 0
total_sh = 0
i = 1
while i < 11:
    total = total + i
    total_sh+=i
    #total_sh = total_sh+i
    i=i+1
print(total)
print(total_sh)

55
55

In [13]:
total=0
for i in range(0,101):
    total+=i
    #total = total+i
print(total)

5050

6. 튜플() 리스트[] 딕셔너리{}

In [14]:
for word in ('warm','sunny','beautiful'):
   print('Today is %s' % word)

Today is warm
Today is sunny
Today is beautiful

In [15]:
# enumerate() function -> 카운터 인덱스 사용

words=['warm','sunny','beautiful']
for index, item in enumerate(words):
   print(index, item)

0 warm
1 sunny
2 beautiful

In [16]:
print([x for x in [1, 2, 3, 4, 5]])

[1, 2, 3, 4, 5]

In [17]:
# sum of square
print(sum([x*x for x in [1, 2, 3, 4, 5]]))

55

7. if문

In [18]:
sel = 'F'
temperature = 25.5
if sel=='F':
    res=(temperature-32)*(5/9.0)
elif sel=='C':
    res=temperature*(9.0/5.0)+32
else:
    print("선택은 F또는 C이어야 합니다.")
print("{0:.1f}{1:s}를 변환하면 {2:.2f}입니다".format(temperature,sel,res))

25.5F를 변환하면 -3.61입니다

8. containers of python

In [19]:
# list

#1.
my = list()

#2.
myList=[1,2,3,4,5]
print(type(myList))
print("myList: ", myList)

<class 'list'>
myList:  [1, 2, 3, 4, 5]

In [20]:
print(myList[2])      #3번째
print(myList[-1])     #마지막
print(myList[2:4])    #3째 ~ 4째 (마지막 인덱스는 제외)
print(myList[3:])     #4째 이후 모든 값
print(myList[:3])     #처음부터 3째까지
print(myList[::2])    #처음부터 끝까지, 하나씩 건너서

3
5
[3, 4]
[4, 5]
[1, 2, 3]
[1, 3, 5]

In [21]:
# update

# lists are mutable
myList[0]=28
print(myList)

[28, 2, 3, 4, 5]

In [22]:
# 지료형 호환

# list may have different types
myList[0]='hello'
print(myList)

['hello', 2, 3, 4, 5]

In [23]:
myList.append(10)
print(myList)

['hello', 2, 3, 4, 5, 10]

In [24]:
#delete

print(myList.pop())
print(myList)

10
['hello', 2, 3, 4, 5]

In [25]:
 #리스트 묶기 (zip function)

my2=zip([1,2,3],[4,5,6])
print(my2)
print(list(my2))

<zip object at 0x00000215057B95C0>
[(1, 4), (2, 5), (3, 6)]

In [26]:
#리스트 내 계산

marks=[
    [ 'names', 'subjects','scores'],
    ['김하나','English', 100],
    ['김하나','Math', 80],
    ['임하나','English', 70],
    ['임하나','Math', 100],
    ['김갑돌','English', 82.3],
    ['김갑돌','Math', 98.5]
]

for row in marks:
    print(row)

['names', 'subjects', 'scores']
['김하나', 'English', 100]
['김하나', 'Math', 80]
['임하나', 'English', 70]
['임하나', 'Math', 100]
['김갑돌', 'English', 82.3]
['김갑돌', 'Math', 98.5]

In [27]:

marks=marks[1:]
for row in marks:
    print(row)

marks=marks[1:]
for row in marks:
    print(row[0],row[1],row[2])

['김하나', 'English', 100]
['김하나', 'Math', 80]
['임하나', 'English', 70]
['임하나', 'Math', 100]
['김갑돌', 'English', 82.3]
['김갑돌', 'Math', 98.5]
김하나 Math 80
임하나 English 70
임하나 Math 100
김갑돌 English 82.3
김갑돌 Math 98.5

In [33]:
#plus 자리수 제한은 이런식 앞쪽 %1.f %2.f에 주목

#print("Math: %.1f English: %.2f" % (float(mathSum/mathCount),float(englishSum/englishCount)))

In [34]:
#dictionary

In [35]:
room={'jsl':"G405", 'bigData':"G307"}

In [36]:
print(room.values())
print(room.keys())

dict_values(['G405', 'G307'])
dict_keys(['jsl', 'bigData'])

In [37]:
print("jsl room: ",room['jsl'])

jsl room:  G405